form {
  font-size: 96px;
  display: flex;
  flex-align: center;
  justify-content: center;
  margin-top: 20%;
  width: 100%;
}
input {
  font-size:96px;
  width: 20%;
  border: none;
  border-bottom: 1px solid #cacaca;
  outline: none;
  text-align: center;
}
.stats { 
  font-size: 48px;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  text-align: center;
}
.close {
  background-color: lightgoldenrodyellow;
}
.correct {
  background-color: lightgreen;
}