<ng-container *ngIf="control">
  <label>{{ label }}</label>
  <input [formControl]="control" />
  <div class="ui error message" *ngIf="control.errors && control.dirty && control.touched">
    <p *ngIf="control.errors['required']">
      This field is required.
    </p>
    <p *ngIf="control.errors['minlength']">
      This field must be at least
      {{ control.errors['minlength'].requiredLength }} characters long.
    </p>
    <p *ngIf="control.errors['maxlength']">
      This field cannot be more than
      {{ control.errors['maxlength'].requiredLength }} characters long.
    </p>
    <p *ngIf="control.errors['pattern']">
      Invalid input format.
    </p>
  </div>
</ng-container>
