<div class="ui two column grid">

  <div class="column">
    <form class="ui form" [ngClass]="{ 'error': cardForm.invalid }" [formGroup]="cardForm" (ngSubmit)="onSubmit()">
      <app-input class="field" label="Name" [control]="cardForm.controls.name"></app-input>
      <app-input class="field" label="Card Number" [control]="cardForm.controls.cardNumber"></app-input>
      <div class="two fields">
        <app-input class="field" label="Expiration" [control]="cardForm.controls.expiration"></app-input>
        <app-input class="field" label="Security Code" [control]="cardForm.controls.securityCode"></app-input>
      </div>

      <div class="field"></div>
      <button class="ui button positive" [disabled]="cardForm.invalid" type="submit">Submit</button>
      <button class="ui button warning" type="button" (click)="cardForm.reset()">Reset</button>
    </form>
  </div>

  <div class="column">
    <app-card [cardNumber]="cardForm.controls.cardNumber.value || ''" [name]="cardForm.controls.name.value || ''"
      [expiration]="cardForm.controls.expiration.value || ''">
    </app-card>
  </div>

</div>